
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-ubuntu {
    font-family: Ubuntu-Regular, serif;
}

.font-ubuntuBold {
    font-family: Ubuntu-Bold, serif;
}

.font-ubuntuMedium {
    font-family: Ubuntu-Medium, serif;
}
